@{
    ViewData["Title"] = "Home Page";

    DateTime fecha = new DateTime(2024,05,18);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <i>@DateTime.Now</i> <br>
    <i>@fecha.ToLongDateString()</i>  
</div><br>
 <div class = "row gx-5">  
    <div class="col">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi consectetur voluptates totam eaque tenetur possimus nobis aliquam, sit cupiditate eum vitae ea neque aspernatur cumque voluptatem sapiente, ratione vel ducimus?</p>
    </div>
    <div class="col-4 offset-1">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi consectetur voluptates totam eaque tenetur possimus nobis aliquam, </p>
    </div>
    <div class="col">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi consectetur voluptates totam eaque tenetur possimus nobis aliquam, sit cupiditate eum vitae ea neque aspernatur cumque voluptatem sapiente, ratione vel ducimus?</p>
    </div>
 </div>