@{
     ViewData["Title"] = "Alta de Estudiantes";
}
<form>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escribe el nombre del estudiante">

        <label for="Matricula" class="form-label">Matricula</label>
        <input type="text" class="form-control" id="Matricula" name="Matricula" placeholder="Escribe la Matricula del estudiante">

        <label for="Edad" class="form-label">Edad</label>
        <input type="text" class="form-control" id="Edad" name="Edad" placeholder="Edad del estudiante">

        <label for="Carrera" class="form-label">Carrera</label>
        <input type="text" class="form-control" id="Matricula" name="Carreta" placeholder="Carrera del estudiante">

        <label for="rol">Sexo</label>
                <select class="form-control" id="rol">
                    <option>Hombre</option>
                    <option>Mujer</option>
                </select>
       
    </div>
    <button type="submit" class="btn btn-primary"> Guardar</button>
    <button type="submit" class="btn btn-secundary"> Cancelar</button>
</form>